.post {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
}

.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postProfileAvatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
}

.postMiddle {
    margin: 10px 0 8px 0;
}

.postImg {
    width: 100%;
    margin-top: 8px;
    max-height: 500px;
    object-fit: contain;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likeIcon {
    height: 24px;
    margin-right: 4px;
    cursor: pointer;
}

.postLikeCounter {
    margin-left: 4px;
    font-size: 15px;
}

.postCommentText {
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}